@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dynamic-vibrant: #8B5CF6;
    --dynamic-muted: #4C1D95;
    --dynamic-dark-vibrant: #1E1B4B;
    --dynamic-light-vibrant: #DDD6FE;
    --dynamic-bg-start: #09090B;
    --dynamic-bg-end: #111116;
  }

  body {
    @apply bg-background text-text-primary font-sans antialiased overflow-x-hidden selection:bg-brand-purple selection:text-white;
  }
}

/* Custom scrollbars para desktop e web */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090B;
}

::-webkit-scrollbar-thumb {
  background: #292930;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3F3F4A;
}
